.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: 72px;
  line-height: 1;
  color: #f6c917;
}

.word {
  display: inline-block;
}
.scroll-reveal2 {
  margin: 20px 0;
}

.scroll-reveal-text2 {
  font-size: 32px;
  line-height: 1;
  color: #fff;
}
.scroll-reveal3 {
  margin: 20px 0;
}

.scroll-reveal-text3 {
  font-size: 44px;
  line-height: 1.2;
  color: #fff;
}
.scroll-reveal4 {
  margin: 20px 0;
}

.scroll-reveal-text4 {
  font-size: 72px;
  letter-spacing: -2px;
  line-height: 1.2;
  color: #fff;
}

.word {
  display: inline-block;
}
